ul.menu {
	list-style: none;
	float: left;
	display: block;
	background: #222;
	font-size: 1.2em;
	background: url(../images/menu_bg.gif) repeat-x;
	margin-bottom: 0 !important;
	z-index: 1000;
}

ul.menu li:first-child {
	margin-left: 20px;	
}

ul.menu li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	z-index: 10001;
}
ul.menu li a{
	padding: 6px 2px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.menu li a:hover{
	background: url(../images/menu_hover.gif) no-repeat center top;
}
ul.menu li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/submenu_btn.gif) no-repeat center top;
}
ul.menu li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.menu li ul.submenu {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.menu li ul.submenu li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.menu li ul.submenu li a {
	float: left;
	width: 145px;
	background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.menu li ul.submenu li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
}
